<h1 class="text-3xl font-semibold text-gray-800 mb-6">Mesa: <%= @table.name %></h1>

<p><strong>Capacidade:</strong> <%= @table.capacity %></p>
<p><strong>Descrição:</strong> <%= @table.description %></p>

<div class="mt-6">
  <%= link_to 'Editar', edit_admin_table_path(@table), class: 'bg-yellow-500 text-white py-2 px-4 rounded-md hover:bg-yellow-600' %>
  <%= link_to 'Voltar', admin_tables_path, class: 'text-blue-500 hover:text-blue-600 ml-4' %>
</div>
